h1 {
    border-bottom: 3px solid gray;
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 20px;
}

ol {
    border-right: 3px solid gray;
    width: 80px;
    margin-top: 0;
    padding: 30px;
    padding-right: 10px;
}

body {
    margin: 10px;
}

#grid {
    border: 5px solid red;
    display: grid;
    grid-template-columns: 150px 1fr;
}

#mean {
    padding: 30px;
    padding-left: 10px;
}

@media(max-width:800px) {
    #grid {
        display: block;

    }

    ol {
        border-right: none;
    }
}